{% extends 'index.html' %}



{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right hide-phone">
                            <a href="" class="btn btn-outline-secondary btn-round waves-effect">
                            <i class="mdi mdi-cloud-download mr-2"></i>
                            下载检测结果
                            </a>
                        </div>
                        <div class="btn-group mt-2">
                            <h4 class="page-title">情感分析建模已完成！</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body" style="text-align:center;">
                            {% if video_name %}
{#                                <video controls>#}
{#                                  <source width="80%" src="{% url 'training:stream' %}" type="video/mp4">#}
{#                                </video>#}
{#                                <a href="{% url 'training:stream' %}">检测完毕-点击观看视频</a>#}
                                <strong>检测完毕-请下载视频观看</strong>
                            {% endif %}
                            {% if img_name %}
                                <img width="80%" src="/static/helmet/runs/detect/exp/{{ img_name }}" alt="图片加载失败">
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block script_content %}
    {% if message %}
        <script>
        alert("{{ message }}");
        </script>
    {% endif %}
{% endblock %}
